@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  display: grid;
}
 .box {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  min-height: calc(100% / 3);
}
.box:nth-child(3n) {
  border-right: 0px;
}
.box:nth-last-child(-1n + 3) {
  border-bottom: 0px;
}
.board {
  margin: 0px auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  background-size: cover;
  background-position: center;
}
