@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  display: grid;
}
.container-fluid {

}
.col-4{
      background: url(assets/images/BG.jpg)
}
 .box {
     width: 60px;
     height: 30px;
     background: silver;
     border-radius: 5px;
     padding: 1px 3px;
     box-shadow: 1px 1px 1px #000;
     display: block;
     text-align: center;
     background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
     font-family: arial;
     font-size: 12px;
     line-height:30px;
     min-height: calc(100% / 3);
}
.box:nth-child(3n) {
  border-right: 0px;
}
.box:nth-last-child(-1n + 3) {
  border-bottom: 0px;
}
.board {
  margin: 0px auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  background-size: cover;
  background-position: center;
}
.nav-button{
  background-color: url()
}
