@import '~bootstrap/scss/bootstrap';


.gameBoard{

  background: grey;
}
.gameBoardBtn{
  padding: 30px 30px 30px 30px;
  margin: 3px 3px 3px 3px;
  font-size: 40px;
}
.gameBoardCtrl{
  padding: 30px 30px 30px 30px;
  margin: 3px 3px 3px 3px;
  font-size: 18px;
}
