@import '~bootstrap/scss/bootstrap';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  font-family: 'Orbitron', sans-serif;
  // font-family: 'Gruppo', cursive;
  // font-family: 'Turret Road', cursive;
}
header {

  height: 30vh;
  // background-size: cover;
  // // background-position: top;
}
.page-title{
  text-align: center;
  color: rgb(0, 197, 231);
  font-size: 36px;
  justify-content: center;
}
.header-container{
  display: block
}
footer{
  display: flexbox;
}
.title-container{

  display: block;
  height: 30vh;
  width: 100%;
  
  
}
.sign-up-btn-container{

 text-align: center;

}
.sign-up-text-container {
  text-align: center;
}
.sign-up {
  flex: 2;
  display: inline-block;
}
.sign-in-container{
  text-align: center;
}
.sign-in{
  display: inline-block;
}
.user-ui-btn-container{
  padding: 20px;
  margin: auto;
  text-align: center;
}
#log-out{
  display: inline-flexbox;
}
#new-game{
display: inline-flexbox;
}

.user-message{
  display: block;
  font-size: 75px;
  color: rgb(0, 197, 231);
  justify-content: center;
}
.passsw-text-box{
  display: block;
}
.sign-up-btn-row{
  display: flex;
}
.gameBoard-container{
  padding: 20px;
  margin: 0 auto;
  background-size: cover;
  height: 65vh;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-image: url(../../images/hexagon_bg.jpg);
}

#game-number{
  font-size: 20px;

}
// .user-message{
  
//   font-size: 75px;
//   color: rgb(0, 197, 231)
// }
.btn {
  font-size: 24px;
  background-color: rgb(0, 197, 231);
  box-shadow: 1px 1px 1px #000;
  margin: 5px;
}
.btn:hover{
  background-color: rgb(236, 5, 167);
  box-shadow: 1px 1px 1px #000;
}


 .box {
     width: 20vh;
     height: 15vh;
     background: rgba(10, 230, 230, .3);
     border-radius: 5px;
     padding: 1px 3px;
     margin: 0 auto;
     box-shadow: 1px 1px 1px #000;
     display: block;
     text-align: center;
     font-family: arial;
     font-size: 60px;
     line-height:30px;
}
.box:hover{
  background:rgba(255, 0, 200, 0.3);
}
.box:nth-child(3n) {
  border-right: 0px;
}
.box:nth-last-child(-1n + 3) {
  border-bottom: 0px;
}
.board {
  margin: 0px auto;
  max-height: calc(100vh - 50px);
  max-width: calc(100vh - 50px);
  // min-height: calc(50vh);
  // min-width: calc(50vh);
 
}
